@import url('https://fonts.googleapis.com/css2?family=Droid+Arabic+Kufi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
